/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- Begin Website Styling -------------*/
@font-face {
	font-family: CustomBebas;
	src:url("../fonts/BebasNeue.otf");
}

* {
	box-sizing: border-box;
	cursor: default;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	height: 2200px;
}

div{
	display: block;
}

a, img {
	cursor: auto;
}

.container {
	height: 2050px; /* change size accordingly (based on projects and footer size) */
	z-index: 1;
}
/* Cleanup CSS for nav bar */

nav {
	top: -100%;
	min-width: 1000px;
	width: 100%;
	z-index: 2;
	position: fixed;
}

nav ul {
	top: 0%;
	margin: 0 auto;
	float: right;
	width: 100%;
	background-color: rgba(0,0,0,.80);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	list-style: none;
	display: inline-table;
}

nav ul li {
	float: right;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	color: white;
	margin: 0px 10px;

	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-ms-transition: opactiy 0.2s ease;
    -moz-transition: opacity 0.2s ease;
	o-transition: opacity 0.2s ease;



}

	nav ul li:hover {
		opacity: 0.5;
	}

		nav ul li:hover a {
			color: #ecf0f1;
		}

	nav ul li a {
		width: 50px;
		height: 50px;
		font-size: 20px;
		display: block;
		color: #757575;
		text-decoration: none;

	}
		nav ul li a img {
			width: 50px;
			height: 50px;
		}

		#resume {
			margin-top: 10px;
			margin-left: 10px;
			width: 30px;
			height: 30px;
		}

#name {
    border: none;
    position: absolute;
    float: left;
}

#nav_title {
    font-size: 35px;
}

#name a {
    display: block;
    padding: 4px 30px;
    color: white;
    text-decoration: none;
}
/* Cleanup CSS for nav bar */

.intro {
	z-index: -1;
	position: relative;
}
	#intro_name {
		min-width: 750px;
		height: 450px;
		background-image: url(../img/comp-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0px -100px;
		background-attachment: fixed;
	}
		#intro_title {
			width: 100%;
			top: 180px;
			font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
			font-size: 100px;
			text-align: center;
			margin: 0 auto;
			position: fixed;
			color: black;
		}

#about {
	height: 500px;
	box-shadow: 0 2px 4px gray;
	top: 450px;
	background-color: black;
}

	.wrapper {
		min-width: 49%;
		max-width: 49%;
		height: 100%;
		float: left;
		margin: 0 auto;
	}
		#description {
			height: 50%;
			color: white;
			margin: 25% 20%;
			font-size: 40px;

			opacity: 0;
		}


#projects {
	height: 1400px;
	background-color: white;
}

.even{
	background-color: #f8f8f8;
}

    .project {
        height: 350px;
        border-bottom: 1px solid #d8d8d8;
        overflow: hidden;
    }

.contentRight {
	float: right;
	width: 49%;
}

.contentLeft {
	float: left;
	width: 49%;
}

.projImage {
	max-width: 100%;
	/*padding-top: 10px;*/
	margin-top: 50px;
	height: 800px;
	margin-left: 20%;
}

	.even .projImage {
		/*margin-left: 35%;*/
	}

.project-description {
	min-width: 30%;
	margin-left: 20%;
	padding-top: 50px;
}

	.even .project-description {
		min-width: 30%;
		/*margin-left: 10%;*/
		padding-top: 50px;
	}
	
	p {
		max-width: 70%;
		margin: 0;
	}

	.title {
		font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
		font-size: 35px;
	}

	.project-detail-description {
		/*width: 100%;*/
		overflow: visible;
	}

#rubiks {
	min-width: 366px;
	margin-left: 30%;
	height: 310px;
}

.footer-wrapper {
	width: 100%;
	/*height: 75px;*/
	opacity: 0.5;	
	/*position: fixed;*/
	position: relative;
	/*background-color: black;*/
	bottom: 0;
	z-index: -1;
}
	.footer {
		width: 100%;
		height: 150px;
		background-color: blue;
		bottom: 0;
		color: white;
		position: fixed;
		
	}