html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- Begin Website Styling -------------*/
@font-face {
	font-family: CustomBebas;
	src:url("../fonts/BebasNeue.otf");
}

* {
	box-sizing: border-box;
	cursor: default;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	height: 2150px;
	min-width: 750px;
	z-index: 4;
}

div{
	display: block;
}

a, img {
	text-decoration: none;
	color: black;
	cursor: pointer;
	outline: none;
}

video {
	float: left;
	margin-top: 70px;
	position: absolute;
	margin-left: 32%; /* Keeps video centered on screen */
}

iframe {
	margin-left: 50px;
	margin-top: 85px;
	box-shadow: 0px 0px 30px gray;
	border-radius: 2px;
}

.container {
	height: 2200px; /* change size accordingly (based on projects and footer size) */
	min-height: 2200px;
	min-width: 1000px;
	z-index: 3;
}
/* Cleanup CSS for nav bar */

nav {
	top: -100%;
	min-width: 1000px;
	width: 100%;
	z-index: 4;
	position: fixed;
}

nav ul {
	top: 0%;
	margin: 0 auto;
	float: right;
	width: 100%;
	background-color: rgba(0,0,0,.80);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	list-style: none;
	display: inline-table;
}

nav ul li {
	float: right;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	color: white;
	margin: 0px 10px;

	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-ms-transition: opactiy 0.2s ease;
    -moz-transition: opacity 0.2s ease;
	o-transition: opacity 0.2s ease;
}

	nav ul li:hover {
		opacity: 0.5;
	}

		nav ul li:hover a {
			color: #ecf0f1;
		}

	nav ul li a {
		width: 50px;
		height: 50px;
		font-size: 20px;
		display: block;
		color: #757575;
		text-decoration: none;
	}

		nav ul li a img {
			width: 50px;
			height: 50px;
		}

		#resume {
			margin-top: 10px;
			margin-left: 10px;
			width: 30px;
			height: 30px;
		}

#name {
    border: none;
    position: absolute;
    float: left;
}

#nav_title {
    font-size: 35px;
}

#name a {
    display: block;
    padding: 4px 30px;
    color: white;
    text-decoration: none;
}
/* Cleanup CSS for nav bar */

.intro {
	z-index: -1;
	position: relative;
}

	#intro_name {
		min-width: 750px;
		height: 450px;
		background-image: url(../img/comp-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0px -100px;
		background-attachment: fixed;
	}

		#intro_title {
			width: 100%;
			top: 180px;
			font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
			font-size: 100px;
			text-align: center;
			margin: 0 auto;
			position: fixed;
			color: black;
			/*z-index: -1;*/
		}

#about {
	height: 500px;
	box-shadow: 0 2px 4px gray;
	top: 450px;
	background-color: black;
}

	.wrapper {
		min-width: 49%;
		max-width: 49%;
		height: 100%;
		float: left;
	}

		#description {
			height: 50%;
			color: white;
			margin: 25% 20%;
			font-size: 40px;

			opacity: 0;
		}

		#my-picture {
			float: right;
			background-image: url(../img/clayton-gray.JPG);
			background-repeat: no-repeat;
			background-size: 860px;
		}

#projects {
	height: 1400px;
	background-color: white;
}

.project {
    height: 350px;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
}

.even{
	background-color: #f8f8f8;
}

	.contentRight {
		float: right;
		width: 49%;
	}

	.contentLeft {
		float: left;
		width: 49%;

		position: relative;
	}

		.projImage {
			max-width: 100%;
			margin-top: 50px;
			height: 800px;
			margin-left: 20%;
		}

		.project-description {
			min-width: 30%;
			margin-left: 20%;
			padding-top: 50px;
		}

		.even .project-description {
			min-width: 30%;
			padding-top: 50px;
		}
	
		p {
			max-width: 70%;
			margin: 0;
			line-height: 25px;
		}

			.title {
				font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
				font-size: 35px;
			}

		.project-detail-description {
			overflow: visible;
		}

		#rubiks {
			min-width: 366px;
			margin-left: 30%;
			height: 310px;
		}

		#fork {
			float: right;
		}

		#python {
			margin-top: 0;
			padding-top: 65px;
			height: 300px;
		}

.footer-wrapper {
	width: 100%;
	position: relative;
	bottom: 0;
	z-index: -2;
}

	.footer {
		z-index: -3;
		width: 100%;
		height: 300px;
		background: #2c3e50;
		background-image: -webkit-radial-gradient(50% 10px, circle cover, #4a4a4a, #2b2b2b);
		background-image: -moz-radial-gradient(50% 10px, circle cover, #4a4a4a, #2b2b2b);  
	    background-image: -ms-radial-gradient(50% 10px, circle cover, #4a4a4a, #2b2b2b); /* IE10+ */  
	    background-image: -o-radial-gradient(50% 10px, circle cover, #4a4a4a, #2b2b2b); /* Opera (13?) */  
		bottom: 0;
		color: white;

		margin-top: 300px;
		position: fixed;
	}

		.connect {
			font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
			font-size: 100px;
			margin-left: 25%;
			margin-right: 25%;
			margin-top: 110px;
			width: 100%;
			min-width: 1000px;
			height: 300px;
		}

			.connect a {
				float: left;
				padding: 0px 30px;
				cursor: pointer;
				color: white;
			}

@media only screen and (min-width : 1224px) {
	#my-picture {
		float: right;
		background-image: url(../img/clayton-gray.JPG);
		background-repeat: no-repeat;
		background-size: 800px;
	}
}

@media only screen and (min-width : 1824px) {
	#my-picture {
		float: right;
		background-image: url(../img/clayton-gray.JPG);
		background-repeat: no-repeat;
		background-size: 950px;
		background-position: 20px;
	}

	.connect {
			margin-left: 30%;
		}
}