.action-button-link {
    display: inline-block;
    color: #ffffff;
}
.action-button-link:link, .action-button-link:active {
    text-decoration: none;
}
.action-button-content {
    display: inline-block;
    font-size: 2vmin;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #B280F5;
}

@media (hover: hover) {
    .action-button-link:hover {
        text-decoration: none;
        opacity: 0.8;
    }
}

@media screen and (max-device-width: 480px) {
    .action-button-content {
        font-size: 2vmax;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: #B280F5;
    }
}
