.expertise-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2A2736;
    color: #ffffff;
}
.expertise-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 320px;
}
.expertise-section {
    text-align: start;
}
.expertise-section-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.expertise-section-title {
    font-size: 5vmin;
    white-space: pre-line;
}
.expertise-section-description {
    font-size: 3.5vmin;
    line-height: 1.5em;
}
.process-diagram-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.process-diagram-image {
    max-width: 250px;
    object-fit: contain;
}
.process-steps {
    font-size: 1em;
}
.process-steps > li {
    margin: 10px 0;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    overflow: hidden;
}
.skills-disclaimer {
    font-size: 2vmin;
    margin-top: 30px;
}
.expertise-page-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 60px;
}
.expertise-page-footer-title {
    font-size: 1.75em;
}
.expertise-page-footer-description {
    line-height: 24px;
}

@media screen and (min-width:480px) {
    .expertise-content {
        width: 400px;
    }
    .expertise-section-title {
        font-size: 2em;
        white-space: pre-line;
    }
    .expertise-section-description {
        font-size: 1em;
        line-height: 1.5em;
    }
    .process-diagram-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        margin: 40px 0;
    }
    .process-diagram-image {
        max-width: 300px;
        object-fit: contain;
    }
    .process-steps {
        font-size: 4vmin;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        overflow: hidden;
    }
}
@media screen and (min-width:775px) {
    .expertise-content {
        width: 600px;
    }
    .expertise-section-title {
        font-size: 2em;
        white-space: pre-line;
    }
    .process-diagram-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        margin: 40px 0;
    }
    .process-diagram-image {
        max-width: 450px;
        object-fit: contain;
    }
    .process-steps {
        font-size: 3vmin;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
    }
}
@media screen and (min-width:1024px) {
    .expertise-content {
        width: 550px;
        margin: 40px auto;
    }
    .expertise-section-title {
        font-size: 3.5vmin;
        white-space: pre-line;
    }
    .expertise-section-description {
        font-size: 2vmin;
        line-height: 1.5em;
    }
    .process-diagram-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin: 40px 0;
        padding: 0 10px;
    }
    .process-diagram-image {
        max-width: 400px;
        object-fit: contain;
    }
    .process-steps {
        font-size: 3.5vmin;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
    }
}
@media screen and (min-width:1300px) {
    .expertise-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #2A2736;
        color: #ffffff;
    }
    .expertise-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px auto;
        width: 1200px;
        gap: 60px;
    }
    .expertise-section {
        text-align: start;
    }
    .expertise-section-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .expertise-section-title {
        font-size: 3em;
        white-space: pre-line;
    }
    .expertise-section-description {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .process-diagram-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;
    }
    .process-diagram-image {
        max-width: 500px;
        object-fit: contain;
    }
    .process-steps {
        font-size: 2em;
    }
    .process-steps > li {
        margin: 10px 0;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8rem;
    }
    .skills-disclaimer {
        font-size: 1em;
        margin-top: 30px;
    }
    .expertise-page-footer {
        margin-top: 0;
    }
}
