.sticky-position {
    position: sticky;
    top: 0;
    z-index: 1;
}
.sticky-header-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.sticky-header-bar {
    display: flex;
    align-items: center;
    padding: 5px;
}
.header-element {
    flex: 1;
    display: flex;
    justify-content: center;
}
.header-element:first-child > button {
    margin-right: auto;
}
.header-element:last-child > a {
    margin-left: auto;
}
.menu-icon-container {
    display: none;
}
.home-button {
    text-align: start;
    margin-right: auto;
}
.home-button,
.home-button:focus,
.home-button:active,
.home-button:visited,
.menu-icon,
.menu-icon:focus,
.menu-icon:active {
    font-size: 1vmax;
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.resource-links {
    display: flex;
    gap: 15px;
}
.resource {
    text-decoration: none;
    color: #000000;
}
.resource-links-compact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

@media (hover: hover) {
    .resource:hover {
        text-decoration: underline;
    }
}

@media screen and (max-device-width: 480px) {
    .sticky-header-bar {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .menu-icon-container {
        display: flex;
    }
    .menu-icon-image {
        width: 30px;
        height: 24px;
        object-fit: contain;
    }
    .home-button,
    .home-button:focus,
    .home-button:active,
    .home-button:visited {
        font-size: 1.9vmax;
        color: #000000;
        outline: none;
        background: transparent;
        border: 0;
        margin: 0;
    }
    .resource-links {
        display: none;
    }
}