.regular-text {
    font-weight: 400;
}

.semibold-text {
    font-weight: 500;
}

.bold-text {
    font-weight: 600;
}

.container-content {
    padding: 0 15vmax;
    gap: 10vmax;
}

@media screen and (max-device-width: 480px) {
    .container-content {
        padding: 0 5vmin 20px;
        gap: 0;
    }
}
